venv




cities.egg-info/*
cities.egg-info/
*/__pycache__
*.pyc
**/*.pyc 
tests/__pycache__/

.vscode/settings.json
tests/.coverage
tests/pytest_report/
tests/.pytest_cache/
cities.egg-info/SOURCES.txt
