venv



cities.egg-info/*
cities.egg-info/
*/__pycache__
*.pyc
**/*.pyc 
tests/__pycache__/
.mypy_cache/

.vscode/settings.json
tests/.coverage
tests/pytest_report/
tests/.pytest_cache/
cities.egg-info/SOURCES.txt
tests/.coverage
**/*_5_tau.pkl


*.DS_Store
.vscode/launch.json
data/sql/counties_database.db
data/sql/msa_database.db
.Rproj.user
**/*.RData
**/*.Rhistory

# data
data/minneapolis/processed/values_long.csv
data/minneapolis/sourced/parcel_to_census_tract_mappings/**
